.booking-header {
  padding-top: 64px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.booking-container {
  padding-bottom: 64px;
}
.book-activity-recap {
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
}
.booking-item {
  padding: 32px 24px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.12);
  color: #222222;
  word-break: break-word;
  border: 1px solid #EBEBEB;
}