.booking-header {
  padding-top: 64px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.booking-container {
  padding-bottom: 64px;
}
.book-activity-recap {
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
}