// Specific CSS for your home-page
.banner-container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-evenly;
}

.home-text {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  padding-left: 90px;
  padding-right: 45px;
  text-align: left;
}

.carousel-item {
  border-radius: 6px;
  width: 850px;
  box-shadow: 1;
  flex-grow: 2;
  padding-left: 45px;
  padding-right: 30px;
}
