// Specific CSS for your home-page
.banner-container {
  margin: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.home-text {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  padding-left: 90px;
  text-align: left;
}

.home-image img {
  border-radius: 10px;
  width:700px;
}
