.shadow-bottom {
  box-shadow: 0px 15px 10px -15px rgb(94, 92, 92);
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
  background-color: white;
  margin-left: 10px;
  border: 1px dashed #666;
}

img {
  border-radius: 6px;
}

//Activity details for show page
.activity-detail {
  width: 600px;
}
