<% if category == "" %>
<span class="dooit-chip outline">
  <span class="icon"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
  <span class="label"><%= @activity.category %></span>
</span>
<% end %>