<div class="border-top">
  <div class="d-flex justify-content-around mt-4 mb-4 shadow-bottom">

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <div style=""><i class="fa-solid fa-palette "></i></div>
      <div style=""><span class="d-block border-bottom border-dark">Art et culture</span></div>
    </div>

    <a href="#">
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style=""><i class="fa-solid fa-sun"></i></div>
        <div style=""><span class="d-block">Divertissement</span></div>
      </div>
    </a>

    <a href="#">
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style=""><i class="fas fa-utensils "></i></div>
        <div style=""><span class="d-block">Cuisine et boissons</span></div>
      </div>
    </a>

    <a href="">
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style=""><i class="fa-solid fa-dumbbell"></i></div>
        <div style=""><span class="d-block">Sport</span></div>
      </div>
    </a>

    <a href="">
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style=""><i class="fas fa-archway"></i></div>
        <div style=""><span class="d-block">Visites</span></div>
      </div>
    </a>
  </div>
</div>
</div>

  <div class="card-1">
    <a href="#">
      <div class="card-4 " style="background-image: url(https://source.unsplash.com/tXmc2mVDxJc/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/znoL1m6MD_k/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/ZhQCZjr9fHo/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/9FMDYPCv8mQ/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/H3APOiYLyzk/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/w_N-XCjiM0o/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/yWF2LLan-_o/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#" class="">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/YrtFlrLo2DQ/1000x500); border-radius: 20px;"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/p-4xI3UPCCY/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/diAfdoI-X6A/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/eWqOgJ-lfiI/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

  </div>

  <div class="container-3">
    <div class="content-2">
    <!-- Content goes here -->

    </div>
    <button class="load-more">Load More</button>
  </div>