// customization of bootstrap button with bootstrap's mixins
.btn-primary {
  @include button-variant(
    $pink,
    $pink,
    $white,
    $hover-color: $white );
}

.btn-outline-primary {
  @include button-outline-variant(
    $pink,
    $color-hover: $white,
    $active-background: $pink,
    $active-border: $pink,
    $active-color: color-contrast($pink) );
}

.btn-secondary {
  @include button-variant(
    $blue,
    $blue,
    $white,
    $hover-color: $white );
}

.btn-outline-secondary {
  @include button-outline-variant(
    $blue,
    $color-hover: $white,
    $active-background: $blue,
    $active-border: $blue,
    $active-color: color-contrast($blue) );
}

// Star-rating button CSS
.fa-star {
  color:  #FFD700;
}

.review-rating {
  cursor:    pointer;
  font-size: 2rem;
}

a.dooit-link {
  color: $blue;
  &:hover {
    color: $pink;
  }
}
