.btn {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn:hover {
  color: white;
}

// Star-rating button CSS
.fa-star {
  color:  #FFD700;
}

.review-rating {
  cursor:    pointer;
  font-size: 2rem;
}

a.dooit-link {
  color: $blue;
  &:hover {
    color: $pink;
  }
}