.navglobal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 6px;
  position:fixed
  width 100%
}

.avatar {
  &:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.4);
  }
}

.logo {
  align-items: left;
}

.avatar .dropdown-toggle .in-front{
  &:hover {
    background:#F4F4F4;
    border-radius: 6px;
  }
}

.dropdown-menu{
  border-radius: 6px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.host {
  color: black;
  text-decoration: none;
  border-radius: 6px;
  &:hover {
    background:#F4F4F4;
    border-radius: 6px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

//-----------------------------------------------------------------------------------

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
}

li {
  list-style-type: none;
}
