.navglobal {
  justify-content: space-between;
  background: white;
  border-radius: 6px;
  position:fixed
  width 100%
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

/*.form-control {
  border-radius: 20px;
}*/

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.host {
  border-radius: 6px;
  &:hover {
    background:#F4F4F4;
    border-radius: 6px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
