<%= render "shared/navbar" %>

<div class="container">

  <div class="pt-4">
    <h1><%= @activity.title %></h1>
  </div>

  <div>
    <img src="" alt="">
  </div>


</div>
























<%# <div class="title">
  <div><h1><%= @activity.title %></h1></div>
<%# </div>

<div class="description">
  </p></p>
  <%= @activity.average_rating %>

<%# <div class="d"
  style="background-image: url(https://source.unsplash.com/9FMDYPCv8mQ/1000x500); border-radius: 20px"></div>
</div>

<div class><div><p>
</div>

      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>
</div> %>
